<%= form_for(@pot) do |f| %>
  <% if @pot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pot.errors.count, "error") %> prohibited this pot from being saved:</h2>

      <ul>
      <% @pot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :descritpion %><br>
    <%= f.text_area :descritpion %>
  </div>
  <div class="field">
    <%= f.label :cash_demand %><br>
    <%= f.text_field :cash_demand %>
  </div>
  <div class="field">
    <%= f.label :cash_collected %><br>
    <%= f.text_field :cash_collected %>
  </div>
  <div class="field">
    <%= f.label :credits_collected %><br>
    <%= f.text_field :credits_collected %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
