<%- model_class = Pot -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:descritpion) %></th>
      <th><%= model_class.human_attribute_name(:cash_demand) %></th>
      <th><%= model_class.human_attribute_name(:cash_collected) %></th>
      <th><%= model_class.human_attribute_name(:credits_collected) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pots.each do |pot| %>
      <tr>
        <td><%= link_to pot.id, pot_path(pot) %></td>
        <td><%= pot.user_id %></td>
        <td><%= pot.descritpion %></td>
        <td><%= pot.cash_demand %></td>
        <td><%= pot.cash_collected %></td>
        <td><%= pot.credits_collected %></td>
        <td><%=l pot.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pot_path(pot), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pot_path(pot),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pot_path,
            :class => 'btn btn-primary' %>
