<h1>Listing pots</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Descritpion</th>
      <th>Cash demand</th>
      <th>Cash collected</th>
      <th>Credits collected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pots.each do |pot| %>
      <tr>
        <td><%= pot.user %></td>
        <td><%= pot.descritpion %></td>
        <td><%= pot.cash_demand %></td>
        <td><%= pot.cash_collected %></td>
        <td><%= pot.credits_collected %></td>
        <td><%= link_to 'Show', pot %></td>
        <td><%= link_to 'Edit', edit_pot_path(pot) %></td>
        <td><%= link_to 'Destroy', pot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pot', new_pot_path %>
