<h1>Listing demand_materials</h1>

<table>
  <thead>
    <tr>
      <th>Pot</th>
      <th>Material</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demand_materials.each do |demand_material| %>
      <tr>
        <td><%= demand_material.pot %></td>
        <td><%= demand_material.material %></td>
        <td><%= demand_material.quantity %></td>
        <td><%= link_to 'Show', demand_material %></td>
        <td><%= link_to 'Edit', edit_demand_material_path(demand_material) %></td>
        <td><%= link_to 'Destroy', demand_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demand material', new_demand_material_path %>
