<%- model_class1 = DonationCash -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class1.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class1.human_attribute_name(:id) %></th>
      <th><%= model_class1.human_attribute_name(:user_id) %></th>
      <th><%= model_class1.human_attribute_name(:amount) %></th>
      <th><%= model_class1.human_attribute_name(:pot_id) %></th>
      <th><%= model_class1.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @donation_cashes.each do |donation_cash| %>
      <tr>
        <td><%= donation_cash.id %></td>
        <td><%= donation_cash.user_id %></td>
        <td><%= donation_cash.amount %></td>
        <td><%= donation_cash.pot_id %></td>
        <td><%=l donation_cash.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- model_class2 = DonationMaterial -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class2.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class2.human_attribute_name(:id) %></th>
      <th><%= model_class2.human_attribute_name(:user_id) %></th>
      <th><%= model_class2.human_attribute_name(:material_id) %></th>
      <th><%= model_class2.human_attribute_name(:quantity) %></th>
      <th><%= model_class2.human_attribute_name(:recipient_id) %></th>
      <th><%= model_class2.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @donation_materials.each do |donation_material| %>
      <tr>
        <td><%= link_to donation_material.id, donation_material_path(donation_material) %></td>
        <td><%= donation_material.user_id %></td>
        <td><%= donation_material.material_id %></td>
        <td><%= donation_material.quantity %></td>
        <td><%= donation_material.recipient_id %></td>
        <td><%=l donation_material.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- model_class3 = DonationCredit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class3.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class3.human_attribute_name(:id) %></th>
      <th><%= model_class3.human_attribute_name(:user_id) %></th>
      <th><%= model_class3.human_attribute_name(:quantity) %></th>
      <th><%= model_class3.human_attribute_name(:pot_id) %></th>
      <th><%= model_class3.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @donation_credits.each do |donation_credit| %>
      <tr>
        <td><%= donation_credit.id %></td>
        <td><%= donation_credit.user_id %></td>
        <td><%= donation_credit.quantity %></td>
        <td><%= donation_credit.pot_id %></td>
        <td><%=l donation_credit.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
