<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @material.type %>
</p>

<p>
  <strong>Image:</strong>
  <%= @material.image %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
